.bg-green-dark{
    background:#1DE9B6 !important;
}
.bg-green-light{
    background:#B9F6CA !important;
}
.bg-red-dark{
    background:#FF5252 !important;
}
.bg-red-light{
    background:#FF8A80 !important;
}
.bg-blue-dark{
    background:#03A9F4 !important;
}
.bg-blue-light{
    background:#84FFFF !important;
}
.bg-yellow-dark{
    background:#FFEB3B !important;
}
.bg-yellow-light{
    background:#FFFF8D !important;
}
.bg-purple-dark{
    background:#48128A !important;
}
.bg-purple{
  background:#7E57C2 !important;
}
.bg-purple-light{
    background:#B388FF !important;
}
.bg-grey-dark{
    background:#999999 !important;
}
.bg-grey-light{
    background:#F5F5F5 !important;
}
.bg-black{
    background-color:#000000 !important;
}
.bg-blue{
    background-color:#2196F3 !important;
}
.bg-brown{
    background-color:#795548 !important;
}
.bg-green{
    background-color:#4CAF50 !important;
}
.bg-grey{
    background-color:#9E9E9E !important;
}
.bg-pink{
    background-color:#E91E63 !important;
}
.bg-purple{
    background-color:#9C27B0 !important;
}
.bg-orange{
    background-color:#FF9800 !important;
}
.bg-red{
    background-color:#F44336 !important;
}
.bg-teal{
    background-color:#009688 !important;
}
.bg-white{
    background-color:#FFFFFF !important;
}
.bg-yellow{
    background-color:#FFEB3B !important;
}
.color-black{
    color:#000000 !important;
}
.color-blue{
    color:#2196F3 !important;
}
.color-brown{
    color:#795548 !important;
}
.color-green{
    color:#4CAF50 !important;
}
.color-grey{
    color:#999999 !important;
}
.color-grey-light{
    color:#9E9E9E !important;
}
.color-pink{
    color:#E91E63 !important;
}
.color-purple{
    color:#9C27B0 !important;
}
.color-orange{
    color:#FF9800 !important;
}
.color-red{
    color:#F44336 !important;
}
.color-red-dark{
    color:#E53935 !important;
}
.color-teal{
    color:#009688 !important;
}
.color-white{
    color:#FFFFFF !important;
}
.color-yellow{
    color:#FFEB3B !important;
}


