html,
body {
    height: 100%;
    margin: 0;
    overflow:hidden;
    font-family: Lato, 'Open Sans', verdana, arial;
}
* { min-width:0 ;min-height:0 }
label{
  margin-bottom:0px !important;
}
.pointer {
    cursor: pointer;
}
.bold{
    font-weight: bold;
}
.scrollable{
    overflow-y: auto !important
}
.fill-vertical {
    min-height: 100% !important;
    height: 100% !important;
}
.fill-horizontal {
    min-width: 100% !important;
    width: 100% !important;
}
.fill{
    min-height: 100% !important;
    height: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
}
.pointer{
    cursor: pointer;
}
.relative{
    position: relative;
}
.fixed{
    position: fixed;
}